@import 'variables';

.menu {
    display: flex;
}

.menu-item {
    list-style: none;
    padding: 10px;
}

.menu-item-link {
    text-decoration: none;
    color: $light;
    font-weight: 500;
    letter-spacing: .15rem;

    &:hover {
        opacity: .8;

    }
}