$primary:#173b7e;
$secondary:#04ff82;
$light:#f7efef;
$dark:#252525;
$bg:#c0c2d6;
$success:#5eb829;
$warning:#fdd830;
$danger:#b82929;


$title-size:2rem;
$subtitle-size:1.5rem;
$text-size:1rem;
$h100:100%;
$h80:80%;
$h75:75%;
$h50:50%;
$h25:25%;
$v100:100vh;
$v75:75vh;
$v50:50vh;
$v25:25vh;
$pd5:5px;
$pd10:10px;
$pd15:50px;
$mg5:5px;
$mg10:10px;
$mg15:15px;